$primary_bg: #5F2EEA;
$primary_hover: #2A00A2;
$primary_color: #F7F7FC;

$secondary_bg: #FCFCFC;
$secondary_border: $primary_bg;
$secondary_hover: $primary_hover;
$secondary_focus: $primary_bg;
$secondary_color: $primary_bg;